
.chat-table {
    width: 100%;
}

.left-div {
    float: left;
}

.right-div {
    float: right;
}

.author-col {
    text-align: center;
}

.text-col {
    text-align: left;
}

.time-col {
    padding-right: 3px !important;
    text-align: right;
    width: 45px;
    color: #7F7F7F;
    font-size: 12px;
}

.me-author {
    background: #C6F5E7;
}

.int-author {
    background: #E2BBA6;
}

.author {
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
    white-space: nowrap;
}

.state {
    font-style: italic;
    font-size: 12px;
    color: #7F7F7F;
}

.download-log {
    white-space: nowrap;
}

div.Wt-loading {
    z-index: 100;
    position: absolute;
    top: 6px;
    right: 6px;
    box-shadow: 0px 1px 1px rgba(146, 146, 146, 0.35);
    border-radius: 2px;
    border-color: #FFF1A8;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0px auto;
    padding: 2px 4px;
}

.reserved-url {
    background: none repeat scroll 0% 0% #FFF1A8;
}

.scroll-down {
    font-size: 30px;
}

.scroll-down:hover {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}

